.container {
  display: flex;
  height: auto;
  justify-content: center;
  border-radius: 0.5rem;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  margin: 0.5rem 0.5rem;
  background-color: white;
}

.info {
  width: 75%;
  display: flex;
  flex-direction: column;
}

.info-header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.info-header h1 {
  width: 50%;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.3rem;
  line-height: 28px;
  text-align: center;
}

.info-header p {
  width: 40%;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  line-height: 28px;
  text-align: center;
}

.card-icon {
  width: 25%;
  height: auto;
  margin: auto 0.5rem auto 0;
}

.badges-container {
  width: auto;
  margin: 0 auto 0.5rem auto;
}

.genus-title {
  margin: 0 auto 1rem auto;
  width: auto;
  font-size: 1rem;
  font-weight: 200;
  font-family: 'Trebuchet MS', Arial, sans-serif;
}
